
.Container {
  display: flex;
}

.Title {
  width: 50%;
  height: 60px;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.tagA{
  display: flex;
  align-items: center;
  
}
