.LeftSide {
  float: left;
  margin-bottom: 100px;
  width: 50%;
}


.Container {
  display: flex;
}

.Title {
  width: 50%;
  height: 40px;
  font-size: 14px;
  display: flex;
  align-items: center;
}


.RightSide {
  margin-bottom: 100px;
  width: 50%;
  float: left;
  min-height: 50px;
}

.Break {
  height: 1px;
  width: 100%;
  clear: both;
}

.Photo {
  display: flex;
  justify-content: center;
  align-items: center;
}


.Show {
  margin-left: 400px;
  margin-top: 200px;
  display: block;
  float: left;
}
.Hide {
  display: none;
}

@keyframes change {
0% {border-radius: 50%;
    width: 60px;
    height: 60px;}
100% {border-radius: 0;
      width: 150px;
      height: 150px;}
}

.Big img{
  animation: change 1.5s;
}
.Small img {
  width: 60px;
  height: 60px;
  border-radius: 50%;

}

.Pagin {
  display: flex;

}
.LeftMargin, .RightMargin {
  width: 30%;
  display: flex;
}
.Pagin button {
  font-family: 'Indie Flower', cursive;
  width: 80px;
  border: 1px solid navy;
  background: cornflowerblue;
}

.Pagin button:hover {
  background: lightblue;
  color: white;
}

@media (max-width: 800px) {
  .RightSide {
    width: 100vw;
  }
  .Show {
    margin-left: 200px;
    margin-top: 0px;
    display: block;
    float: left;
  }
}
